extends layout

block main
  section.container
    h2  Sweet Cupcakes
    .secImg.col-sm-5
      img.img-responsive(src='img/cupcakes.jpg', alt='')
    .col-sm-7
      div
        p
          | cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply grandiloquence sillabub rhizocorm liturgics unwatery transaquatic atramental unabiding sorrily hyperenthusiasm opisthogyrate unsuperscribed Bopyridae overfearful
      div
        a.btn.btn-default.pull-right(href='/products/cupcakes') Learn More
  section.container
    h2  Sweet Cakes
    .col-sm-7
      div
        p
          | cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply grandiloquence sillabub rhizocorm liturgics unwatery transaquatic atramental unabiding sorrily hyperenthusiasm opisthogyrate unsuperscribed Bopyridae overfearful
      div
        a.btn.btn-default(href='') Learn More
    .secImg.col-sm-5
      img.img-responsive(src='img/cake.jpg', alt='')
  section.container
    h2  Sweet Party Tables
    .col-sm-5
      img.secImg.img-responsive(src='img/mesa-baby.jpg', alt='')
    .col-sm-7
      div
        p
          | cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply grandiloquence sillabub rhizocorm liturgics unwatery transaquatic atramental unabiding sorrily hyperenthusiasm opisthogyrate unsuperscribed Bopyridae overfearful
      div
        a.btn.btn-default.pull-right(href='') Learn More