doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(charset='UTF-8')
    title BCN Sweet Events
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lobster|Marck+Script', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav#menuNav.slideup
      .navLinks
        .logo
          a(href='/')
            img(src='/img/logoBlack.png', alt='')
        ul
          li.clMenu
            button.menu(href='#')
              span(class="glyphicon glyphicon-remove-sign" aria-hidden="true")
        hr
      .container.text-center.menuOption
        a(href='/products/cupcakes') Sweet Cupcakes
      .container.text-center.menuOption
        a(href='#') Sweet Cakes
      .container.text-center.menuOption
        a(href='#') Sweet Party Tables
      .container.text-center.menuOption
        a(href='/register') Register
      .container.text-center.menuOption
        a(href='/register') Log In
      .container.text-center.menuOption
        a(href='#') About Us
      .container.text-center.menuOption
        a(href='#') Contact
    main
      nav.navLinks
        .logo
          a(href='/')
            img(src='/img/logoNav.png', alt='')
        ul(class="list-inline")
          li(class="cart")
            a(href='#')
              span(class="glyphicon glyphicon-shopping-cart")
              span(class="numberCircle") 0
          li
            button.menu(href='#') Menu
        hr
      section.row.intro(style=`background-image:url(${urlImg})`)
        div
          p=paragraph
        if (section == 'home')
          p.introNav
            a.btn.introBtns(href='#cupcakes') Cupcakes
            a.btn.introBtns(href='#cakes') Cakes
            a.btn.introBtns(href='#tables') Party Tables
        if (section == 'cupcakes')
          p.introNav
            a.btn.introBtns(href='#cupcakes') Pedido Personalizado

      block main
    footer
      ul.list-inline
        li
          a(href='') Instagram
        li
          a(href='https://es-es.facebook.com/bcnsweetevents', target='_blank') Facebook
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/main.js')
