<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BCN Sweet Events</title>
    <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <nav class="slideup" id="menuNav">
        <div class="navLinks">
            <div class="logo">
                <a href="#"><img src="../public/img/logoBlack.png" alt=""></a>
            </div>
            <ul>
                <li><a id="menu_1" class="menu" href="#">Menu</a></li>
            </ul>
            <hr>
        </div>
        <div class="container text-center menuOption">
            <a href="#">Sweet Cupcakes</a>
        </div>
        <div class="container text-center menuOption">
            <a href="#">Sweet Cakes</a>
        </div>
        <div class="container text-center menuOption">
            <a href="#">Sweet Party Tables</a>
        </div>
        <div class="container text-center menuOption">
            <a href="#">Register</a>
        </div>
        <div class="container text-center menuOption">
            <a href="#">Log In</a>
        </div>
        <div class="container text-center menuOption">
            <a href="#">About Us</a>
        </div>
        <div class="container text-center menuOption">
            <a href="#">Contact</a>
        </div>
    </nav>
    <main>
        <nav class="navLinks menuWhite">
            <div class="logo menuWhite">
                <!-- <a href="#">Bcn Sweet Events</a> -->
                <a href="#"><img src="../public/img/logoNav.png" alt=""></a>
            </div>
            <ul>
                <li><a id="menu_2" class="menu optionPink" href="#">Menu</a></li>
            </ul>
            <hr>
        </nav>
        <section class="container introCup">
            <div>
                <p>
                    Sweet Cupcakes
                </p>
            </div>
        </section>
        <section class="container articles">
            <h3>
                Estos son nuestros Cupcakes
            </h3>
            <article>
                <div class="cartCheck">
                    <p>Añadido al carrito!</p>
                </div>
                <div class="row item">
                    <div class="col-xs-12 col-sm-4">
                        <img class="img-responsive" src="../public/img/cup-nutella.jpg" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div>
                            <h4>Nutella</h4>
                            <p>
                                cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply
                            </p>
                        </div>
                        <div>
                            <h4>Ingredientes</h4>
                            <ul>
                                <li>Base vainilla</li>
                                <li>Crema con Nutella</li>
                                <li>Lluvia de Chocolate</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <div>
                            <p>Review counter area</p>
                        </div>
                        <a href="" class="col-sm-12 btn btn-default">Añadir al carrito</a>
                        <a href="" class="col-sm-12 btn btn-default" data-toggle="modal" data-target="#login-overlay">Comprar</a>
                    </div>
                </div>
            </article>
        </section>
        <!-- modal form -->
        <div class="modal fade" id="login-overlay" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Compra directamente o registrate en BCN Sweet Events</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="well">
                                    <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Nombre</label>
                                            <input type="text" class="form-control" id="name" name="name" value="" required placeholder="nombre">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" value="" required placeholder="example@gmail.com">
                                            <span class="help-block"></span>
                                        </div>
                                    
                                        <button type="submit" class="btn btn-success btn-block">Login</button>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="lead">Unirte a nosotros no cuesta nada, es <span class="text-success">Gratis</span></p>
                                <ul class="list-unstyled" style="line-height: 2">
                                    <li><span class="glyphicon glyphicon-ok"></span> Ver todas tu compras</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Recompra rápida</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Salvar tus productos favoritos</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Dejar opiniones</li>
                                    <li><a href="/read-more/"><u>Read more</u></a></li>
                                </ul>
                                <p><a href="/new-customer/" class="btn btn-info btn-block">Registrarse!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <ul class="list-inline">
            <li><a href="">Instagram</a></li>
            <li><a href="https://es-es.facebook.com/bcnsweetevents" target="_blank">Facebook</a></li>
        </ul>
    </footer>
    <script src="../public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
</body>

</html>
