/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.proDetail {
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: -250px;
  z-index: 1;
  position: relative;
  background-color: white;
  border: 1px solid #F77EB5;
}

/* line 13, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.itemImg {
  padding: 10px;
  border: 1px solid #BDBBBB;
}

/* line 17, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewTotal {
  text-align: center;
}

/* line 20, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewArea {
  border: 1px solid #BDBBBB;
  height: 400px;
}

/* line 24, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewText {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-top: 0;
}

/* line 29, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewText p {
  margin-bottom: 0;
}

/* line 32, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.stars {
  display: inline-block;
  text-align: center;
}

/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.proArticles {
  margin: 30px;
}

/* line 7, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.itemName {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

/* line 11, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.selector {
  padding: 5px 0px 10px 5px;
  border: 1px solid #ddd;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 17, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.selector p {
  text-align: center;
}

/* line 20, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.price {
  padding: 5px 0px 10px 5px;
  border: 1px solid #ddd;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 26, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.price p {
  text-align: center;
}

/* line 30, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.itemReviews {
  text-align: center;
}

/* line 33, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct, .continue {
  color: black;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
}

/* line 37, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct .glyphicon-plus-sign, .continue .glyphicon-plus-sign {
  transform: scale(0.8);
}

/* line 39, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct .glyphicon-shopping-cart, .continue .glyphicon-shopping-cart {
  color: black;
}

/* line 41, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct:hover, .continue:hover {
  background: #C29F31;
}

/* line 43, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct:hover .glyphicon-shopping-cart, .continue:hover .glyphicon-shopping-cart {
  color: white;
}

/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
table {
  text-align: center;
  width: 100%;
}

/* line 8, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
thead {
  border-bottom: 1px solid #BDBBBB;
}

/* line 11, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
th, td {
  text-align: center;
  vertical-align: center;
}

/* line 15, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
td {
  height: 100px;
}

/* line 18, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
td.price {
  border: none;
}

/* line 21, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.cart {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -250px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
  background-color: white;
  border: 1px solid #F77EB5;
}

/* line 31, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.cartArticles {
  padding: 30px;
  border: 1px solid #BDBBBB;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.cartArticles article div {
  padding: 0;
  border-bottom: 1px solid #BDBBBB;
}

/* line 38, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.infoCart {
  margin-top: 30px;
}

/* line 42, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.continue span {
  color: black;
}

/* line 45, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.checkout {
  width: 100%;
}

/* line 48, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.btn.remove {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  outline: none;
}

/* line 54, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.totals {
  background-color: #BDBBBB;
  border-radius: 4px;
  padding-left: 0;
}

/* line 59, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.totals .col-xs-7 p {
  text-align: right;
}

/* line 7, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.parallax {
  perspective: 1px;
  position: relative;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 14, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 21, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.parallax_layer-base {
  transform: translateZ(1);
}

/* line 24, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.parallax_layer-base p {
  padding: 50px;
  background-color: white;
}

/* line 28, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.parallax_layer-back {
  transform: translateZ(-1px) scale(3);
  background: url(../img/home/mesa-peppa.JPG) bottom center no-repeat;
  background-size: contain;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/* line 10, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body {
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

/* line 14, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body nav {
  background: #BDBBBB;
}

/* line 17, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body nav .navLinks a {
  color: Black;
}

/* line 20, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
hr {
  clear: both;
  margin: 0;
  border: none;
}

/* line 26, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body > main nav {
  position: absolute;
  height: 70px;
}

/* line 30, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
  font-size: 34px;
}

/* line 40, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
h3 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

/* line 46, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
a {
  text-decoration: none;
}

/* line 49, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
button {
  outline: none;
}

/* line 52, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BDBBBB;
}

/* line 59, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer img {
  transform: scale(0.5);
}

/* line 61, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer li {
  height: auto;
  list-style: none;
  text-align: center;
  font-size: 14px;
}

/* line 66, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer a {
  padding: 15px;
  color: black;
}

/* line 69, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer a:hover {
  text-decoration: none;
  color: black;
}

/* line 73, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
#sweetNav {
  position: fixed;
  z-index: 3;
}

/* line 77, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  z-index: 1;
}

/* line 83, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks .logo {
  padding: 15px 10px 10px 15px;
  height: 130px;
  display: inline-block;
  border-bottom-right-radius: 66px;
}

/* line 88, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks .logo .logoImg {
  display: inline-block;
  width: 170px;
  height: 105px;
  background: url(../img/logoNav.png) bottom center no-repeat;
}

/* line 93, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks .logo .logoImgBlack {
  background: url(../img/logoBlack.png) bottom center no-repeat;
  display: inline-block;
  width: 140px;
  height: 80px;
  background-size: contain;
}

/* line 101, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks ul {
  padding: 15px;
  list-style: none;
  display: inline-block;
  margin: 0;
}

/* line 107, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.nav-colored {
  background-color: rgba(0, 0, 0, 0.78);
}

/* line 111, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.deskNav a {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  background: transparent;
  border: none;
}

/* line 117, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.deskNav a:hover {
  color: #BDBBBB;
}

/* line 120, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.list-inline.movNav {
  padding-top: 24px;
}

/* line 123, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.clMenu {
  width: 63px;
  text-align: center;
  padding-top: 6px;
}

/* line 127, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.clMenu span {
  transform: scale(1.3);
  color: black;
}

/* line 131, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menu {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  background: transparent;
  border: none;
}

/* line 137, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menu:hover {
  color: #BDBBBB;
}

/* line 140, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption {
  height: auto;
  padding: 5px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 0;
  width: 100%;
}

/* line 147, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption:hover {
  color: white;
  background-color: grey;
}

/* line 150, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption:hover a {
  color: white;
}

/* line 152, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption a {
  color: black;
}

/* line 154, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption a:hover {
  text-decoration: none;
}

/* line 158, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.slideup, .slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

/* line 166, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.slidedown {
  max-height: 600px;
}

/* line 169, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.cartIcon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* line 174, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.cartIcon:hover .glyphicon-shopping-cart {
  color: #BDBBBB;
}

/* line 176, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.cartIcon:hover .numberCircle {
  color: #BDBBBB;
  border: 2px solid #BDBBBB;
}

/* line 180, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.glyphicon-shopping-cart {
  color: white;
  transform: scale(1.2);
}

/* line 184, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.numberCircle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

/* line 196, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.intro {
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 500px;
  position: relative;
}

/* line 202, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.intro div {
  width: 100%;
  position: absolute;
  top: 200px;
}

/* line 206, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.intro div p {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  margin: auto;
  text-align: center;
  color: white;
  width: 70%;
}

/* line 214, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introNav {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* line 220, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introBtns {
  padding: 10px;
  margin: 15px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background: transparent;
  font-size: 18px;
}

/* line 228, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introBtns:hover {
  text-decoration: none;
  color: #BDBBBB;
  border: 2px solid #BDBBBB;
}

/* line 233, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introPar {
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: 'Marck Script', cursive;
  font-size: 24px;
  background-color: white;
}

/* line 240, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.hide {
  display: 'none';
}

/* line 244, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.imgContainer img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: auto;
  padding: 10px;
}

/* line 250, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.sectionBtns {
  text-align: center;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 255, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.sectionBtns a {
  display: inline;
  padding: 10px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  background: transparent;
  font-size: 18px;
}

/* line 264, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.sectionBtns a:hover {
  text-decoration: none;
  color: #F77EB5;
  border: 2px solid #F77EB5;
}

/* line 269, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.social {
  position: absolute;
  top: 15px;
  right: 5%;
}

/* line 274, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.social li {
  font-size: 33px;
}

/* line 276, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.social i {
  color: black;
}

/************** Admins page **************************/
/* line 282, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introAdmin {
  margin: 0;
  width: 100%;
  height: 200px;
}

/* line 286, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introAdmin div {
  margin-top: 100px;
}

/* line 288, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introAdmin div p {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  width: 70%;
  margin: auto;
  text-align: center;
}

/* line 295, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.adminColor {
  background-color: grey;
}

/* line 298, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.adminContent {
  background-color: grey;
}

/************** Repsonsive elements *********************/
@media (max-width: 575px) {
  /* line 309, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo {
    height: 100px;
  }
  /* line 311, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo .logoImg {
    width: 113px;
    height: 70px;
    background-size: contain;
  }
  /* line 318, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .intro div p {
    font-size: 22px;
  }
  /* line 321, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  ul.list-inline.deskNav {
    display: none;
  }
  /* line 324, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .introNav {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* line 332, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo {
    height: 100px;
  }
  /* line 334, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo .logoImg {
    width: 113px;
    height: 70px;
    background-size: contain;
  }
  /* line 341, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .intro div p {
    font-size: 26px;
  }
  /* line 343, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  ul.list-inline.deskNav {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* line 350, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .modal-dialog {
    width: 650px;
  }
  /* line 353, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .menu {
    display: none;
  }
}

@media (min-width: 993px) {
  /* line 361, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .menu {
    display: none;
  }
  /* line 364, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .introNav {
    bottom: 40px;
  }
}

/*# sourceMappingURL=../css/styles.map */