/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.proDetail {
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: -250px;
  z-index: 1;
  position: relative;
  background-color: white;
  border: 1px solid #F77EB5;
}

/* line 13, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.itemImg {
  padding: 10px;
  border: 1px solid #BDBBBB;
}

/* line 17, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewTotal {
  text-align: center;
}

/* line 20, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewArea {
  border: 1px solid #BDBBBB;
  height: 400px;
}

/* line 24, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewText {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-top: 0;
}

/* line 29, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.reviewText p {
  margin-bottom: 0;
}

/* line 32, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_detail.sass */
.stars {
  display: inline-block;
  text-align: center;
}

/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.proArticles {
  margin: 30px;
}

/* line 7, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.itemName {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

/* line 11, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.selector {
  padding: 5px 0px 10px 5px;
  border: 1px solid #ddd;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 17, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.selector p {
  text-align: center;
  font-size: 16px;
}

/* line 21, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.price {
  padding: 5px 0px 10px 5px;
  border: 1px solid #ddd;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 27, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.price p {
  text-align: center;
  font-size: 16px;
}

/* line 31, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.itemReviews {
  text-align: center;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct, .continue {
  color: black;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
}

/* line 38, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct .glyphicon-plus-sign, .continue .glyphicon-plus-sign {
  transform: scale(0.8);
}

/* line 40, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct .glyphicon-shopping-cart, .continue .glyphicon-shopping-cart {
  color: black;
}

/* line 42, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct:hover, .continue:hover {
  background: #C29F31;
  color: white;
}

/* line 45, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_product.sass */
.addProduct:hover .glyphicon-shopping-cart, .continue:hover .glyphicon-shopping-cart {
  color: white;
}

/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
table {
  text-align: center;
  width: 100%;
}

/* line 8, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
thead {
  border-bottom: 1px solid #BDBBBB;
}

/* line 11, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
th, td {
  text-align: center;
  vertical-align: center;
}

/* line 15, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
td {
  height: 100px;
}

/* line 18, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
td.price {
  border: none;
}

/* line 21, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.cart {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -250px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
  background-color: white;
  border: 1px solid #F77EB5;
}

/* line 31, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.cartArticles {
  padding: 30px;
  border: 1px solid #BDBBBB;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.cartArticles article div {
  padding: 0;
  border-bottom: 1px solid #BDBBBB;
}

/* line 38, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.infoCart {
  margin-top: 30px;
}

/* line 42, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.continue span {
  color: black;
}

/* line 45, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.checkout {
  width: 100%;
}

/* line 48, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.btn.remove {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  outline: none;
}

/* line 54, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.totals {
  background-color: #BDBBBB;
  border-radius: 4px;
  padding-left: 0;
}

/* line 59, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_cart.sass */
.totals .col-xs-7 p {
  text-align: right;
}

/* line 2, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(../img/home/back_1.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;
}

/* line 14, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(../img/home/back_2.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;
}

/* line 26, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_parallax.sass */
.content-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(../img/home/back_3.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;
}

/* line 4, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.navLinks.adminNav {
  border-bottom: 2px solid #BDBBBB;
}

/* line 8, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.loginBox {
  margin-top: 30px;
}

/* line 11, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.introAdmin {
  margin: 0;
  width: 100%;
}

/* line 14, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.introAdmin div {
  margin-top: 50px;
}

/* line 16, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.introAdmin div p {
  font-size: 30px;
  width: 70%;
  margin: auto;
  text-align: center;
}

/* line 23, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.adminBody {
  margin: 0;
}

/* line 26, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.adminMenu {
  margin: 0;
  padding: 15px 0px 15px 15px;
}

/* line 31, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.adminContent {
  margin-top: 15px;
  padding-left: 0px;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.adminContent .row {
  background-color: #BDBBBB;
  margin-right: 15px;
  margin: 0;
  padding-left: 15px;
}

/* line 39, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.adminContent form {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

/* line 45, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.activeBtn {
  background-color: #BDBBBB;
}

/* line 48, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.prodItem {
  margin-top: 15px;
}

/* line 51, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.prodPrice {
  width: 20%;
}

/* line 54, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.imgCont {
  margin-top: 15px;
}

/* line 57, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
/* line 63, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}

/* line 70, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

/* line 75, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/* line 83, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 94, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.image-preview-input-title {
  margin-left: 2px;
}

/* line 97, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/partials/_admin.sass */
.glyphicon-refresh {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 10, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body {
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

/* line 14, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body nav {
  background: #BDBBBB;
}

/* line 17, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body nav .navLinks a {
  color: Black;
}

/* line 20, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
hr {
  clear: both;
  margin: 0;
  border: none;
}

/* line 26, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
body > main nav {
  position: absolute;
  height: 70px;
}

/* line 30, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 34, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
  font-size: 34px;
}

/* line 40, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
h3 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

/* line 46, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
a {
  text-decoration: none;
}

/* line 49, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
button {
  outline: none;
}

/* line 52, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BDBBBB;
}

/* line 59, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer img {
  transform: scale(0.5);
}

/* line 61, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer li {
  height: auto;
  list-style: none;
  text-align: center;
  font-size: 14px;
}

/* line 66, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer a {
  padding: 15px;
  color: black;
}

/* line 69, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
footer a:hover {
  text-decoration: none;
  color: black;
}

/* line 73, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
#sweetNav {
  position: fixed;
  z-index: 3;
}

/* line 77, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  z-index: 1;
}

/* line 83, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks .logo {
  padding: 15px 10px 10px 15px;
  height: 130px;
  display: inline-block;
  border-bottom-right-radius: 66px;
}

/* line 88, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks .logo .logoImg {
  display: inline-block;
  width: 170px;
  height: 105px;
  background: url(/../img/logoNav.png) bottom center no-repeat;
}

/* line 93, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks .logo .logoImgBlack {
  background: url(/../img/logoBlack.png) bottom center no-repeat;
  display: inline-block;
  width: 140px;
  height: 80px;
  background-size: contain;
}

/* line 101, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.navLinks ul {
  padding: 15px;
  list-style: none;
  display: inline-block;
  margin: 0;
}

/* line 107, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.nav-colored {
  background-color: rgba(0, 0, 0, 0.78);
}

/* line 111, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.deskNav a {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  background: transparent;
  border: none;
}

/* line 117, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.deskNav a:hover {
  color: #BDBBBB;
}

/* line 120, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.list-inline.movNav {
  padding-top: 24px;
}

/* line 123, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.clMenu {
  width: 63px;
  text-align: center;
  padding-top: 6px;
}

/* line 127, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.clMenu span {
  transform: scale(1.3);
  color: black;
}

/* line 131, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menu {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  background: transparent;
  border: none;
}

/* line 137, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menu:hover {
  color: #BDBBBB;
}

/* line 140, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption {
  height: auto;
  padding: 5px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 0;
  width: 100%;
}

/* line 147, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption:hover {
  color: white;
  background-color: grey;
}

/* line 150, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption:hover a {
  color: white;
}

/* line 152, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption a {
  color: black;
}

/* line 154, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.menuOption a:hover {
  text-decoration: none;
}

/* line 158, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.slideup, .slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

/* line 166, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.slidedown {
  max-height: 700px;
}

/* line 169, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.cartIcon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* line 174, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.cartIcon:hover .glyphicon-shopping-cart {
  color: #BDBBBB;
}

/* line 176, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.cartIcon:hover .numberCircle {
  color: #BDBBBB;
  border: 2px solid #BDBBBB;
}

/* line 180, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.glyphicon-shopping-cart {
  color: white;
  transform: scale(1.2);
}

/* line 184, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.numberCircle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

/* line 196, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.intro {
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 500px;
  position: relative;
}

/* line 203, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.intro div {
  width: 100%;
  position: absolute;
  top: 200px;
}

/* line 207, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.intro div p {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  margin: auto;
  text-align: center;
  color: white;
  width: 70%;
}

/* line 215, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introNav {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* line 221, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introBtns {
  padding: 10px;
  margin: 15px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background: transparent;
  font-size: 18px;
}

/* line 229, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introBtns:hover {
  text-decoration: none;
  color: #BDBBBB;
  border: 2px solid #BDBBBB;
}

/* line 234, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.introPar {
  font-family: 'Marck Script', cursive;
  font-size: 24px;
  padding: 40px;
  text-align: center;
}

/* line 240, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.hide {
  display: 'none';
}

/* line 244, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.imgContainer img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: auto;
  padding: 10px;
}

/* line 250, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.sectionBtns {
  text-align: center;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 255, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.sectionBtns a {
  display: inline;
  padding: 10px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  background: transparent;
  font-size: 18px;
}

/* line 264, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.sectionBtns a:hover {
  text-decoration: none;
  color: #F77EB5;
  border: 2px solid #F77EB5;
}

/* line 269, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.social {
  position: absolute;
  top: 15px;
  right: 5%;
}

/* line 274, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.social li {
  font-size: 33px;
}

/* line 276, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
.social i {
  color: black;
}

/************** Repsonsive elements *********************/
@media (max-width: 575px) {
  /* line 287, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo {
    height: 100px;
  }
  /* line 289, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo .logoImg {
    width: 113px;
    height: 70px;
    background-size: contain;
  }
  /* line 296, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .intro div p {
    font-size: 22px;
  }
  /* line 299, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  ul.list-inline.deskNav {
    display: none;
  }
  /* line 302, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .introNav {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* line 310, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo {
    height: 100px;
  }
  /* line 312, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .navLinks .logo .logoImg {
    width: 113px;
    height: 70px;
    background-size: contain;
  }
  /* line 319, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .intro div p {
    font-size: 26px;
  }
  /* line 321, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  ul.list-inline.deskNav {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* line 328, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .modal-dialog {
    width: 650px;
  }
  /* line 331, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .menu {
    display: none;
  }
}

@media (min-width: 993px) {
  /* line 339, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .menu {
    display: none;
  }
  /* line 342, /Users/zoraidamoreno/Alejandro/SkyLabCoders/projects/bcn-sweet-events/public/sass/styles.sass */
  .introNav {
    bottom: 40px;
  }
}

/*# sourceMappingURL=../css/styles.map */