extends layout

block main
  .introPar
        p Nos apasiona la elaboración de postres y aquí podrá encontrar una selección de nuestros mejores productos divididos en tres categorías: Cupcakes, Cakes y Mesas de fiesta. También puede contactar con nosotros para que elaboremos los productos a su gusto o según el tema de la fiesta que desee realizar.
  
    
  section.container.content-block-one

    h2(id="cupcakes")  Sweet Cupcakes
    .row
      .col-sm-5.imgContainer
        img.img-responsive.secImg(src='img/home/cupcakes.jpg', alt='')
      .col-sm-7
        p
          | cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply grandiloquence sillabub rhizocorm liturgics unwatery transaquatic atramental unabiding sorrily hyperenthusiasm opisthogyrate unsuperscribed Bopyridae overfearful
      .col-md-7.sectionBtns
        a.btn(href='/products/cupcakes') Ir a Sweet Cupcakes
  .content-space-one
        
  section.container.content-block-one
    h2(id="cakes")  Sweet Cakes
    .row
      .col-sm-5.imgContainer
        img.img-responsive.secImg(src='img/home/cake.jpg', alt='')
      .col-sm-7
        div
          p
            | cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply grandiloquence sillabub rhizocorm liturgics unwatery transaquatic atramental unabiding sorrily hyperenthusiasm opisthogyrate unsuperscribed Bopyridae overfearful
      .col-md-7.sectionBtns
        a.btn(href='/products/cakes') Ir a Sweet Cakes
  .content-space-two
    
  section.container.content-block-one
    h2(id="tables") Sweet Party Tables
    .row
      .col-sm-5.imgContainer
        img.img-responsive.secImg(src='img/home/mesa-baby.jpg', alt='')
      .col-sm-7
        div
          p
            | cresting areology Vulpecula tomboyishness biliprasin rectorate ascogonium withness seersucker cripply grandiloquence sillabub rhizocorm liturgics unwatery transaquatic atramental unabiding sorrily hyperenthusiasm opisthogyrate unsuperscribed Bopyridae overfearful
      .col-md-7.sectionBtns
        a.btn(href='/products/tables') Ir a Sweet Party Tables
  .content-space-three
     


