doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(charset='UTF-8')
    title BCN Sweet Events
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lobster|Marck+Script', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav#menuNav.slideup
      .navLinks
        .logo
          a.logoImgBlack(href='/')
            //- img(src='/img/logoBlack.png', alt='')
        ul
          li.clMenu
            button.menu
              span(class="glyphicon glyphicon-remove-sign" aria-hidden="true")
        //- hr
      .container.text-center.menuOption
        a(href='/products/cupcakes') Sweet Cupcakes
      .container.text-center.menuOption
        a(href='/products/cakes') Sweet Cakes
      .container.text-center.menuOption
        a(href='/products/tables') Sweet Party Tables
      .container.text-center.menuOption
        a(href='/register') Register
      .container.text-center.menuOption
        a(href='/register') Log In
      .container.text-center.menuOption
        a(href='#') About Us
      .container.text-center.menuOption
        a(href='#') Contact
      .container.text-center.menuOption
        a(href='/cart') Shopping Cart
    main
      nav.navLinks#sweetNav 
        .logo#navLogo
          a.logoImg(href='/')
            //- img(src='/img/logoNav.png', alt='')

        ul.list-inline.deskNav
          li
            a.btn(href='/products/cupcakes') Cupcakes
          li
            a.btn(href='/products/cakes') Cakes
          li
            a.btn(href='/products/tables') Party Tables

        ul.list-inline.movNav
          li(class="cartIcon")
            a(href='/cart')
              span(class="glyphicon glyphicon-shopping-cart")
              span(class="numberCircle")= cartNumber || 0
          li
            button.menu Menu
          
        //- hr
      section.row.intro(style=`background-image:url(${urlImg})`)
        div
          p=paragraph
        if (section == 'home')
          p.introNav
            a.btn.introBtns(href='') About us
            a.btn.introBtns(href='') Contact
        if (section == 'cupcakes' || section == 'cakes')
          p.introNav
            a.btn.introBtns(href=`#${section}`) Pedido Personalizado

      block main
    footer
      div
        ul
          li
            a(href='#')
              img(src='/img/logoBlack.png', alt='')
          li BCN Sweet Events © 2017. All rights reserved.
      .social
        ul.list-inline
          li
            a(href='https://es-es.facebook.com/bcnsweetevents', target='_blank')
              i.fa.fa-facebook-square(aria-hidden='true')
          li
            a(href='https://www.instagram.com/bcnsweetevents', target='_blank')
              i.fa.fa-instagram(aria-hidden='true')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/main.js')
