extends layout

block main
  .container.cart
    h3  Este es tu carrito de la compra

    .cartArticles.col-sm-8
      //- articles to create dinamicly
      if (cartProducts === undefined || cartProducts.length === 0) 
        div
          p Aun no has añadido ningún producto al carrito.

      each item in cartProducts
        article.row
          .col-md-5
            table
              thead
                tr
                  th
                  th Product
              tbody
                tr
                  td
                    a(href='')
                      img(src=`${item.product.imgURL}`, style='width: 72px; height: 72px', alt='')
                  td
                    h4= item.product.title
          .col-md-7
            table
              thead
                tr
                  th.col-sm-4 Quantity
                  th.col-sm-4 Price
                  th.col-sm-4
              tbody.proData
                tr
                  td.col-sm-4
                    p
                      select.selectpicker
                        option(value="6" selected=(item.qtty === '6')) 6 cupcakes
                        option(value="12" selected=(item.qtty === '12')) 12 cupcakes
                        option(value="18" selected=(item.qtty === '18')) 18 cupcakes
                  - var price = item.qtty * 3
                    td.col-sm-4.price(data-price="3") €
                      span.itemPrice #{price}

                  td.col-sm-4
                    button.btn.remove(type='button' data-id=`${item.product._id}`)
                      span.glyphicon.glyphicon-trash
    .col-sm-4.row.infoCart.pull-right
      .col-xs-12.totals
        .col-xs-5
          p Subtotal:
          p Envío:
          p.totalDesc Total:
        .col-xs-7
          p €
            span.totalNumbers 0.00
          p €
            span.totalNumbers 0.00
          p €
            span.result 0.00
      a.btn.btn-default.col-xs-12.continue(role='button' href=(cartProducts.length !== 0 ? '/products/' + cartProducts[0].product.category : '/products/cupcakes'))
        |  Seguir Comprando

      a.btn.btn-success.col-xs-12.checkout(role='button', data-toggle='modal', data-target='#login-overlay')
        | Realizar Pedido 
        span.glyphicon.glyphicon-play
    hr
  hr
  
  //- modal order or logIn/register
  #login-overlay.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4#myModalLabel.modal-title Compra directamente o registrate en BCN Sweet Events
        .modal-body
          .row
            .col-sm-6
              .well
                form#orderForm(method='POST', action='/cart/orders', novalidate='novalidate')
                  .form-group
                    label.control-label(for='name') Nombre
                    |  
                    input#name.form-control(type='text', name='name', value='', required, placeholder='nombre')
                  .form-group
                    label.control-label(for='email') Email
                    |  
                    input#email.form-control(type='email', name='email', value='', required, placeholder='example@gmail.com')
                  .form-group
                    label.control-label Teléfono
                    |  
                    input#phone.form-control(type='tel', name='phone', value='', required, placeholder='689 548 785')
                  |  
                  button.btn.btn-success.btn-block(type='submit') Realizar Pedido
            .col-sm-6
              p.lead
                | Unirte a nosotros no cuesta nada, es 
                span.text-success Gratis!
              ul.list-unstyled(style='line-height: 2')
                li
                  span.glyphicon.glyphicon-ok
                  |  Ver todas tu compras
                li
                  span.glyphicon.glyphicon-ok
                  |  Recompra r&aacute;pida
                li
                  span.glyphicon.glyphicon-ok
                  |  Salvar tus productos favoritos
                li
                  span.glyphicon.glyphicon-ok
                  |  Dejar opiniones
                li
                  a(href='/read-more/')
                    u Read more
              p
                a.btn.btn-info.btn-block(href='/new-customer/') Registrarse!
