<section class="adminMenu col-xs-2">
    <div class="introAdmin">
        <p>
            Hola {{username}}!
        </p>
    </div>
    <ul class="list-unstyled">
        <li class="activeBtn"><a href="/admin/#!/home">Dashboard</a></li>
        <li><a href="/admin/#!/products">Productos</a></li>
        <li><a href="/admin/#!/addProducts">Añadir Producto</a></li>
        <li><a href="/admin/#!/orders">Ordenes</a></li>
    </ul>
</section>
<section class="adminContent col-xs-10">
    <div class="row dashCont">
        <div class="col-xs-6 divider">
            <div class="circle">
                <span>12</span>
            </div>
            <div class="col-xs-12 dashPar">
                <p>
                  Total de productos en tienda
                </p>
            </div>
            
        </div>
        <div class="col-xs-6">
            <div class="circle">
                <span>20</span>
            </div>
            <div class="col-xs-12 dashPar">
                <p>
                  Total de ordenes pendientes
                </p>
            </div>
        </div>
    </div>
</section>
