<div class="row">
  <div ng-repeat="order in orders" class = "col-sm-6 col-md-4">
      <div class = "thumbnail">
        <div>
          <p>{{order.createdAt | date:'medium'}}</p>
          <p>Order Id:</p>
          <p>{{order._id}}</p>
        </div>
        <div>
          <p>Name:</p>
          <p>{{order.name}}</p>
        </div>
        <div>
          <p>Email:</p>
          <p>{{order.email}}</p>
        </div>
        <div>
          <p>Phone Number:</p>
          <p>{{order.phone}}</p>
        </div>
        <div class = "caption">
           <table>
             <thead>
               <tr>
                 <th>
                   Products
                 </th>
                 <th>
                   Quantity
                 </th>
               </tr>
             </thead>
             <tbody>
                <tr ng-repeat="item in order.products">
                  <td>
                    {{item.product.title}}
                  </td>
                  <td>
                    {{item.qtty}}
                  </td>
                </li>
             </tbody>
           </table>
           
           <p>
              <a href = "#" ng-click="rmvProduct($event, product._id)" class = "btn btn-primary" role = "button">
                 Remove
              </a> 
              
              <a href = "#" class = "btn btn-default" role = "button">
                 Button
              </a>
           </p>
          
        </div>
      </div>
   </div>
</div>
