$project-grey: #BDBBBB;
$project-pink: #F77EB5;

.navLinks.adminNav
  // background-color: grey;
  border-bottom: 2px solid $project-grey;

.loginBox
  margin-top: 30px;

.introAdmin
  margin: 0;
  width: 100%;
  div
    margin-top: 50px;
    p
      // font-family: 'Marck Script', cursive;
      font-size: 30px;
      width: 70%;
      margin: auto;
      text-align: center;

.adminBody
  margin: 0;
  
.adminMenu
  margin: 0;
  padding: 15px 0px 15px 15px;

// .adminColor
//   background-color: grey;

.adminContent
  margin-top: 15px;
  padding-left: 0px;
  .row
    background-color: $project-grey;
    margin-right: 15px;
    margin: 0;
  form
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;

.activeBtn
  background-color: $project-grey;

.prodItem
  margin-top: 15px;

.prodPrice
  width: 20%;




