$project-grey: #BDBBBB;
$project-pink: #F77EB5;

.navLinks.adminNav
  // background-color: grey;
  border-bottom: 2px solid $project-grey;

.introAdmin
  margin: 0;
  width: 100%;
  div
    margin-top: 50px;
    p
      // font-family: 'Marck Script', cursive;
      font-size: 30px;
      width: 70%;
      margin: auto;
      text-align: center;

.adminColor
  background-color: grey;

// .adminContent
//   background-color: grey;