$project-grey: #BDBBBB;
$project-pink: #F77EB5;

.cart
  height: 600px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: -250px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
  background-color: white;
  border: 1px solid $project-pink;