
.content-space-one 
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(../img/home/back_1.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;

.content-space-two
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(../img/home/back_2.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;

.content-space-three
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(../img/home/back_3.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;









